---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import Feature from "../components/Feature.astro";
import Counter from "../components/Counter.astro";
import ContentMedia from "../components/ContentMedia.astro";
import { PAGES } from "../utils/constants.js";
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Guides</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature
          icon="tabler:old"
          title={PAGES.RETIREMENT_PLANS.title}
          url={`/guides/${PAGES.RETIREMENT_PLANS.url}`}
        >
          {PAGES.RETIREMENT_PLANS.description}
        </Feature>
        <Feature
          icon="ic:outline-balance"
          title={PAGES.WORK_LIFE_BALANCE.title}
          url={`/guides/${PAGES.WORK_LIFE_BALANCE.url}`}
        >
          {PAGES.WORK_LIFE_BALANCE.description}
        </Feature>
        <Feature
          icon="icon-park-outline:id-card-v"
          title={PAGES.RESUMES.title}
          url={`/guides/${PAGES.RESUMES.url}`}
        >
          {PAGES.RESUMES.description}
        </Feature>
        <Feature
          icon="ph:mask-sad-bold"
          title={PAGES.IMPOSTER_SYNDROME.title}
          url={`/guides/${PAGES.IMPOSTER_SYNDROME.url}`}
        >
          {PAGES.IMPOSTER_SYNDROME.description}
        </Feature>
        <Feature
          icon="ri:health-book-line"
          title={PAGES.HEALTHCARE_PLANS.title}
          url={`/guides/${PAGES.HEALTHCARE_PLANS.url}`}
        >
          {PAGES.HEALTHCARE_PLANS.description}
        </Feature>
        <Feature
          icon="mdi:people-group-outline"
          title={PAGES.BUILDING_YOUR_NETWORK.title}
          url={`/guides/${PAGES.BUILDING_YOUR_NETWORK.url}`}
        >
          {PAGES.BUILDING_YOUR_NETWORK.description}
        </Feature>
        <Feature
          icon="ic:baseline-work-outline"
          title={PAGES.CAREER_DEVELOPMENT.title}
          url={`/guides/${PAGES.CAREER_DEVELOPMENT.url}`}
        >
          {PAGES.CAREER_DEVELOPMENT.description}
        </Feature>
        <Feature
          icon="ph:money-bold"
          title={PAGES.NEGOTIATING_PAY.title}
          url={`/guides/${PAGES.NEGOTIATING_PAY.url}`}
        >
          {PAGES.NEGOTIATING_PAY.description}
        </Feature>
        <Feature
          icon="icon-park-outline:people-speak"
          title={PAGES.ADVOCATING_FOR_YOURSELF.title}
          url={`/guides/${PAGES.ADVOCATING_FOR_YOURSELF.url}`}
        >
          {PAGES.ADVOCATING_FOR_YOURSELF.description}
        </Feature>
        <Feature
          icon="vaadin:workplace"
          title={PAGES.WORKPLACE_CULTURE.title}
          url={`/guides/${PAGES.WORKPLACE_CULTURE.url}`}
        >
          {PAGES.WORKPLACE_CULTURE.description}
        </Feature>
        <Feature
          icon="ic:sharp-access-time"
          title={PAGES.INTER_TIMEZONE_WORK.title}
          url={`/guides/${PAGES.INTER_TIMEZONE_WORK.url}`}
        >
          {PAGES.INTER_TIMEZONE_WORK.description}
        </Feature>
        <Feature
          icon="uil:award"
          title={PAGES.PERSONAL_BRAND.title}
          url={`/guides/${PAGES.PERSONAL_BRAND.url}`}
        >
          {PAGES.PERSONAL_BRAND.description}
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro
      Components. Some are native to this theme and a lot of others are
      integrated using a <a
        href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for
      your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly
      content, aria-labels, keyboard accessible navigation and components, clear
      outlines and tab indicators and the right color contrast, you're more
      certain of reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss"></style>
